<nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/lunches">Lunch</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- end -%>
        </ul>
      </section>
    </nav>
